.product .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.product {
  background-position: -60px -260px;
  background-image: url('/src/images/reviews/backgroud_mobile.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('/src/images/reviews/backgroud_mobile@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: url('/src/images/reviews/background_tablet.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('/src/images/reviews/background_tablet@2x.jpg');
  }

  @media screen and (min-width: 1200px) {
    background-image: url('/src/images/reviews/backgroud_desktop.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('/src/images/reviews/backgroud_desktop@2x.jpg');
  }
  &__label {
    @include fonts(18, 22, 700);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: calc(27 / 22);
      letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__title {
    font-family: 'Seymour One';
    font-style: normal;
    text-align: center;
    @include fonts(30, 38, 400, 0.04em);

    text-transform: uppercase;
    margin-top: 148px;

    @media screen and (min-width: 768px) {
      margin-top: 108px;
      @include fonts(22, 27, 700, 0.04em);
    }
    @media screen and (min-width: 1200px) {
      margin-top: 165px;
      @include fonts(30, 37, 700, 0.04em);
    }
  }
}
.grid {
  padding: 0 25px;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 224px);
    column-gap: 16px;
    padding: 0 12px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    color: $main;
    position: relative;
    background-color: $background-accent;
    border-radius: 24px;
    padding: 0 40px 16px 40px;
    @media screen and (min-width: 768px) {
      padding: 0 26px;
      @include fonts(22, 27, 700, 0.04em);
    }
    @media screen and (min-width: 1200px) {
      margin-top: 165px;
      @include fonts(30, 37, 700, 0.04em);
    }
  }
  &__card:not(:last-child) {
    margin-bottom: 168px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}
// .product__wraper {
//   display: flex;
//   flex-direction: column;
// }
.product__img-box {
  display: flex;
  justify-content: center;
  max-width: 200px;
  max-height: 200px;
  border-radius: 100px;
  margin-bottom: 60px;

  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    // background: linear-gradient(
    //     0deg,
    //     rgba(248, 210, 78, 0.7),
    //     rgba(248, 210, 78, 0.7)
    //   ),
    //   #d9d9d9;
    // box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    // border-radius: 165px;
    // width: 330px;
    // height: 330px;
    // margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    // background: linear-gradient(0deg, rgba($accent, 0.7), rgba($accent, 0.7)),
    //   $dots;
    // box-shadow: 0px 8px 30px rgba($shadow, 0.25);
    // border-radius: 250px;
    // width: 491px;
    // height: 491px;
    // margin-bottom: 0;
  }
}
.product__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product__card-title {
  @include fonts(20, 24, 700, 0.04em);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    @include fonts(22, 27, 700, 0.04em);
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    @include fonts(30, 36, 700, 0.04em);
    margin-bottom: 66px;
  }
}
.product__card-text {
  @include fonts(14, 25, 400, 0.04em);
  text-align: center;
  margin-bottom: 53px;
  @media screen and (min-width: 768px) {
    margin-bottom: 53px;
  }
  @media screen and (min-width: 1200px) {
    @include fonts(16, 28, 400, 0.02em);
    margin-bottom: 53px;
  }
}
.product__btn {
  background-color: inherit;
}
.product__card-circle {
  position: absolute;
  max-width: 200px;
  max-height: 200px;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    $dots;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

  border-radius: 50%;
  @media screen and (max-width: 767px) {
    left: 40px;
    top: -97px;
  }
  @media screen and (min-width: 768px) {
    left: 12px;
    top: -108px;
  }

  @media screen and (min-width: 1200px) {
    left: 34px;
    top: -167px;

    width: 302px;
    height: 302px;
  }
}
